// Colors----------------------------------
$primary-text-color: #fff;
$secondary-text-color: #6C6C6C;
$light-grey-text-color: #BBBBBB;
$action-color: #C0965C;
$action-hover-color: #9A784A;
$body-bg-color: #0E0E0E;
$menu-bg-color: #1C1C1B;

// Modal -----------------------------------
$modal__bg-color: #000;
$modal__input-bg-color: #1A1A1A;
$modal__secondary-text-color: #6C6C6C;
$modal__primary-text-color: #fff;
$modal__bg-focused-input: #333333;
$modal__error-color: #CC301B;

// Disabled --------------------------------
$disabled__text:  #6C6C6C;
$disabled__bg: #1A1A1A;

// Font size -------------------------------
$body-font-size: 10px;


